**Python** is the most popular programming language at this time. It is a general purpose programming tool, it is logical, it speaks kind of english, it is intuitive, and it is rich in options.
I will skip the line print("Hallo, World") and go strait to variables. Note, that print function shows results on the screen. Therefore no paper wasted.

Note that python code traditional follows some ethical/stylistic rules, which to a great degree implies simplicity and clarity. The full list of the rules is pretty long (see for instance https://docs.python-guide.org/ or https://www.python.org/dev/peps/pep-0008/ or maybe something else). 
For constant values we usually use the first characters of the latin (english) alphabet (a, b, c), for variables, these are the last characters (like  x, y, z).  I doubt that every python user knows entire text. Nevertheless, stick to the essence of it. For simplicity, avoid expression you do not fully understand (even if others use it). For clarity, use meaningfull names for essential variables in your script to be sure you remember, what those variable contain.

In python you do not have to declare the variable before use. You just use it. Lets try some variables, which are familiar to everyone who attended the school, like integers and floats.

In [ ]:
#here are integers
a=1
b=2
print("a and b:", a, b, " a+b:", a+b, sep="\t")

#these are float variables
c=2.75
d=3.15
print("c and d:", c, d, " c+d:", c+d, sep="\t")

a and b:	1	2	 a+b:	3
c and d:	2.75	3.15	 c+d:	5.9

Floats and integers are those constants and variablies to which all arythmetical rules apply (remember your school days?). With such variables you can do all arythmetic functions (and many other functions) as it was ever told in the school in the math classes.
Note, that *print* is a function, where in brackets you specify what you want to print. It can be one item or many. You simply separate them by comma. You can also define a separator in printed lins as sep="..." For more detalis, you can type help(your_function>)...

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

...or your go to python docs (something like https://docs.python.org/3.10/) and check what print() or other basic function can do.

Back to variables: there is another variable called *string*. It is a kind of a text fragment, or text character. You can add one string to another as it works for variables above.

In [ ]:
txt1="All those perfect people"
txt2=" and beautiful dogs"
print(txt1)
print(txt2)
print(txt1+txt2)

All those perfect people
 and beautiful dogs
All those perfect people and beautiful dogs

Adding one string to another means merging them in one. However, you cannot subtract one string from another.
If we try it as follows:

In [ ]:
txt1-txt2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

We see, that we try an "unsupported operation" for a "str" variable. Obviously, we have to answer the question first, what do we mean by subtraction of one string by another? After we know it, we can define a function to implement the subtraction. We will come to it in another chapter (although I have to write it first).
The next and very frequently used variable is list. It can be list of integers, floats, or strings. Note, there can be lists of lists too. function *type()* allows you to check what type of the variable this is

In [ ]:
x=[1,2,3,5,6] #list of integers
y=[3.1,2.3,4.5,5.7,6.9] #list of floats
z=["1","2","three"] #list of strings

#check the type of x
print(type(x))

#show content of z
print(z)

<class 'list'>
['1', '2', 'three']

You can take a sum of lists using the usual math operation "+".

In [ ]:
print(x+y)
y+z #another way of showing value for the variable or function

[1, 2, 3, 5, 6, 3.1, 2.3, 4.5, 5.7, 6.9]

[3.1, 2.3, 4.5, 5.7, 6.9, '1', '2', 'three']

However other operations, like "-", "/", "\*" do not apply for lists. You have to do other tricks, usually organised in loops. However, if we declare list as set, we can do subtraction.

In [ ]:
z=[1,2]
set(x)-set(z)

{3, 5, 6}

Set variable is a kind of a list, but it has only unique elements.
Lets define some list as list an as set and compare them.

In [ ]:
elements1=[1,2,3,'four']
elements2=[1,2,"three",4]
print("sum as list", list(elements1+elements2), " it is redundant")
print("sum as set", set(elements1+elements2), "only unique elements")
print("subtract as set", set(elements1)-set(elements2), "only present in elements1")

sum as list [1, 2, 3, 'four', 1, 2, 'three', 4]  it is redundant
sum as set {1, 2, 3, 4, 'three', 'four'} only unique elements
subtract as set {3, 'four'} only present in elements1

We see, that sum as list contains repetitive elements (two times 1 and 2). But sets have it all non-redundant.

Note, that we can declare string as list, and then as set.

In [ ]:
mystr="All those beautiful people"
print("As string:", mystr)
print("As list:", list(mystr))
print("As set:", set(mystr))

As string: All those beautiful people
As list: ['A', 'l', 'l', ' ', 't', 'h', 'o', 's', 'e', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 'p', 'e', 'o', 'p', 'l', 'e']
As set: {'l', 'i', 'a', 'p', 't', 'e', 'b', 's', 'h', 'u', ' ', 'o', 'A', 'f'}

Therefore you can add and subtract two strings after converting them to list or set, but pay attention to what actually happens and what it means.

Multiplication and division works as expected with simple variables. You can also multiply strings and lists, but you cannot divide, and you cannot multiply by float value or by string

In [ ]:
print(x*5)
print("ABC"*5)

[1, 2, 3, 5, 6, 1, 2, 3, 5, 6, 1, 2, 3, 5, 6, 1, 2, 3, 5, 6, 1, 2, 3, 5, 6]
ABCABCABCABCABC

Note, that power function is defined as "\*\*". Square root is defined as power 1/2, or 0.5.

In [ ]:
print(2**4)
print(4**0.5)
print(16**1/4)

16
2.0
4.0

*log* function is not directly available. But it is available in "math" package. There are several log functions there. Simply check options in the https://docs.python.org/3/library/math.html and take what you like. To use function from the package, declare it on the top of your script, then mention it before calling function with "." as separator between them

In [ ]:
import math
print(math.log2(4)) #here base is 2
print(math.log(4,2)) #here you define base yourself

2.0
2.0

This is not everything, but this is sufficient to get the idea and to begin your own writing. The funny thing is that you use what you know, but you cannot keep in memory things which you do not use. Therefore, try to learn and use your knowledge at the same time. Do not wait to the end of tutorial if you have already some questions and ideas. Begin whenever you want it.

In [4]:
#some simple functions in numpy
import numpy as np
x=[1,2,3,2,4,5,4]
print("average of x", np.mean(x))

average of x 3.0